{{- if .Values.enabled }}
apiVersion: network.azure.upbound.io/v1beta1
kind: PrivateDNSZoneVirtualNetworkLink
metadata:
  name: {{ .Values.clusterName }}-{{ .Values.virtualNetworkLink.name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
  annotations:
    crossplane.io/external-name: {{ .Values.virtualNetworkLink.name }}
spec:
  {{- with .Values.managementPolicies }}
  managementPolicies:
    {{ toYaml . | nindent 4 }}
  {{- end }}
  providerConfigRef:
    name: {{ .Values.clusterName }}
  forProvider:
    privateDnsZoneNameSelector:
      matchLabels:
        giantswarm.io/cluster: {{ .Values.clusterName }}
    resourceGroupName: {{ .Values.resourceGroupName }}
    {{- if .Values.virtualNetworkLink.virtualNetworkId }}
    virtualNetworkId: {{ .Values.virtualNetworkLink.virtualNetworkId }}
    {{- else }}
    virtualNetworkIdSelector:
      matchLabels:
        giantswarm-cluster: {{ .Values.clusterName }}
    {{- end }}
    registrationEnabled: false
    tags:
      giantswarm.io/cluster: {{ .Values.clusterName }}
      giantswarm.io/managed-by: {{ .Release.Name | quote }}
      sigs.k8s.io/cluster-api-provider-azure/cluster/{{.Values.clusterName}}: owned
{{- end -}}
